*{
    margin: 0;
    padding: 0;
}

header{
    /* border: 2px solid red; */
    height: 95vh;
    background-image: url("../images/7567.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

nav{
    /* border: 2px solid blue; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img{
    width: 200px;
}

ul.topnav{
    /* border: 2px dotted green; */
    margin: 0;
    padding: 5px;
    overflow: hidden;
    list-style-type: none;
    /* float: right; */
    
}

ul.topnav li{
    float: left;
}
ul.topnav li a{
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
}

ul.topnav li a.active{
    color: rgb(47, 86, 97);
}

ul.topnav li a:hover{
    color: rgb(67, 109, 133);
}

.cent{
    /* border: 5px solid indianred; */
    max-width: 600px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

/*============ CARD STYLES== */
.card-holder{
    /* border: 7px solid rgb(209, 209, 20); */
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-family: Arial;
    text-align: center;
    margin: 30px 0;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
p.desc{
    color: gray;
    font-size: 15px;
    margin: 15px 0;
}
.card img{
    width: 100%;
    height: 225px;
}
.card .content{
    padding: 10px;
}

.card button{
    border: none;
    outline: 0;
    padding: 8px;
    display: inline-block;
    background-color: rgb(107, 148, 182);
    width: 100%;
    cursor: pointer;
    font-size: 17px;
    
}

/* =========================Content Styles========================= */

.content-area{
    /* border: 2px solid red; */
    background-image: url("../images/Bamford\ Watch\ Department\ Rolex\ “Polaris”\ and\ _Sonar_\ Milgauss\ _\ HYPEBEAST.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 400px;
    padding: 100px 0;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;

}
.content-area img{
    /* border: 2px solid black; */
    width: 400px;
    height: 100%;
    border-radius: 10px;
    padding: 5% auto;
    margin-left: 100px;
}

.right{
    /* border: 2px solid rgb(194, 10, 41); */
    width: 500px;
    margin: 60px auto;
    text-align: center;
    color:rgb(239, 239, 240) ;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* float: right; */
}
.right h2{
    text-transform: uppercase;
    margin: 10px;
    color: brown;
    font-size: xx-large;

}
.right p{
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 20px;
}
.right button{
    width: 100px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top:20px ;
    border-radius: 10px;
    /* text-shadow: 5px 5px 5px rgb(0, 0, 0, 1.5); */
    box-shadow: 3px 3px 10px 4px rgb(45, 58, 102);
}
.right button:hover{
    background-color: rgb(70, 130, 158);
}

/* heading styles=========================================================================== */

.heado{
    /* border: 2px solid black; */
    text-align: center;
}
.heado h1{
    color: tomato;

}
.heado p{
    color: white;
    width: 100%;

}
.pagination{
    /* display: inline-block; */
    margin: 60px auto;
    max-width: 400px;
    /* border: 2px solid rgb(33, 34, 109); */
}
.pagination a{
    color: rgb(61, 41, 151);
    border: 1px solid thistle;
    padding: 8px 16px;
    text-decoration: none;
}
/*=============================== Footer styles================================================ */

footer{
    /* border:2px solid blue; */
    text-align: center;
    /* width: 700px; */
    height: 150px;
    margin: 40px auto;
    font-size: 20px;
    font-weight: bold;
}

